###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
# Do not attempt any end-of-line conversion upon checkin or checkout.
* -text
###############################################################################
# Convert these files to LF on checkin or checkout.
###############################################################################
*.[sS][hH] text eol=lf
*.[mM][dD] text eol=lf
*.[pP][sS]1 text eol=lf
*.[tT][fF] text eol=lf
*.[hH][cC][lL] text eol=lf
*.[yY][mM][lL] text eol=lf
*.[yY][aA][mM][lL] text eol=lf
*.[jJ][sS][oO][nN] text eol=lf
*.tf.example text eol=lf
*.json.example text eol=lf
*.tfvars.example text eol=lf
LICENSE text eol=lf
state-backend-template text eol=lf
###############################################################################
# Convert these files to CRLF on checkin or checkout.
###############################################################################
###############################################################################
# Define file name extensions for git lfs handling
###############################################################################
###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
#*.jpg   binary
*.png   binary
#*.gif   binary
###############################################################################
