{
  "aws_load_balancer_controller_config": {
    "enable": false
  },
  "cloudwatch_retention": 7,
  "cluster_autoscaler_config": {},
  "codemeter": "https://www.wibu.com/support/user/user-software/file/download/13346.html?tx_wibudownloads_downloadlist%5BdirectDownload%5D=directDownload&tx_wibudownloads_downloadlist%5BuseAwsS3%5D=0&cHash=8dba7ab094dec6267346f04fce2a2bcd",
  "coredns_config": {
    "enable": true
  },
  "ecr_pullthrough_cache_rule_config": {
    "enable": false,
    "exist": false
  },
  "efs_csi_config": {
    "enable": true
  },
  "enable_patching": false,
  "gpuNodeCountMax": 12,
  "gpuNodeCountMin": 0,
  "gpuNodeDiskSize": 100,
  "gpuNodePool": false,
  "gpuNodeSize": [
    "g5.2xlarge"
  ],
  "gpu_operator_config": {
    "enable": false
  },
  "infrastructurename": "simphera",
  "ingress_nginx_config": {
    "enable": false
  },
  "install_schedule": "cron(0 3 * * ? *)",
  "ivsGpuDriverVersion": "550.90.07",
  "ivsGpuNodeCountMax": 2,
  "ivsGpuNodeCountMin": 0,
  "ivsGpuNodeDiskSize": 100,
  "ivsGpuNodePool": false,
  "ivsGpuNodeSize": [
    "g4dn.2xlarge"
  ],
  "ivsInstances": {
    "production": {
      "data_bucket": {
        "name": "demo-ivs"
      },
      "k8s_namespace": "ivs",
      "opensearch": {
        "enable": false
      },
      "raw_data_bucket": {
        "name": "demo-ivs-rawdata"
      }
    }
  },
  "kubernetesVersion": "1.32",
  "licenseServer": false,
  "linuxExecutionNodeCapacityType": "ON_DEMAND",
  "linuxExecutionNodeCountMax": 10,
  "linuxExecutionNodeCountMin": 0,
  "linuxExecutionNodeDiskSize": 200,
  "linuxExecutionNodeSize": [
    "m6a.4xlarge",
    "m5a.4xlarge",
    "m5.4xlarge",
    "m6i.4xlarge",
    "m4.4xlarge",
    "m7i.4xlarge",
    "m7a.4xlarge"
  ],
  "linuxNodeCountMax": 12,
  "linuxNodeCountMin": 1,
  "linuxNodeDiskSize": 200,
  "linuxNodeSize": [
    "m6a.4xlarge",
    "m5a.4xlarge",
    "m5.4xlarge",
    "m6i.4xlarge",
    "m4.4xlarge",
    "m7i.4xlarge",
    "m7a.4xlarge"
  ],
  "maintainance_duration": 3,
  "map_accounts": [],
  "map_roles": [],
  "map_users": [],
  "private_subnet_ids": [],
  "public_subnet_ids": [],
  "rtMaps_link": "http://dl.intempora.com/RTMaps4/rtmaps_4.9.0_ubuntu1804_x86_64_release.tar.bz2",
  "s3_csi_config": {
    "enable": false
  },
  "scan_schedule": "cron(0 0 * * ? *)",
  "simpheraInstances": {
    "production": {
      "backup_retention": 35,
      "db_instance_type_keycloak": "db.t4g.large",
      "db_instance_type_simphera": "db.t4g.large",
      "enable_backup_service": true,
      "enable_deletion_protection": true,
      "enable_keycloak": true,
      "k8s_namespace": "simphera",
      "name": "production",
      "postgresqlApplyImmediately": false,
      "postgresqlMaxStorage": 100,
      "postgresqlMaxStorageKeycloak": 100,
      "postgresqlStorage": 20,
      "postgresqlStorageKeycloak": 20,
      "postgresqlVersion": "16",
      "secretname": "aws-simphera-dev-production"
    }
  },
  "simphera_monitoring_namespace": "monitoring",
  "tags": {},
  "vpcCidr": "10.1.0.0/18",
  "vpcId": null,
  "vpcPrivateSubnets": [
    "10.1.0.0/22",
    "10.1.4.0/22",
    "10.1.8.0/22"
  ],
  "vpcPublicSubnets": [
    "10.1.12.0/22",
    "10.1.16.0/22",
    "10.1.20.0/22"
  ],
  "windows_execution_node": {
    "capacity_type": "ON_DEMAND",
    "disk_size": 200,
    "enable": false,
    "node_count_max": 2,
    "node_count_min": 0,
    "node_size": [
      "m6a.4xlarge",
      "m5a.4xlarge",
      "m5.4xlarge",
      "m6i.4xlarge",
      "m4.4xlarge",
      "m7i.4xlarge",
      "m7a.4xlarge"
    ]
  }
}
